<mat-toolbar color="primary" class="toolbar-header">
  <mat-toolbar-row>
    <section id="header">
      <div class="header-logo">
        <a href="#" class="zmart-link">
    
          <img src="https://firebasestorage.googleapis.com/v0/b/kyte-7c484.appspot.com/o/Od1dVBlmN6fW8y%2F4B9A6B01-C475-4CCD-B400-4498EEAF8F33.jpg?alt=media&token=0fc9002c-fcc7-4811-ac78-3129a8cd0a0d" alt="Zmart logo" id="zmart-logo">
    
        </a>
      </div>
      <div class="header-menu">
        <ul class="menu-tray">
            <mat-nav-list>
              <a mat-button routerLink=" /merchant " *ngIf="isLoggedIn && showMerchant ">Merchant</a>
              <a mat-button routerLink="/customer " *ngIf="isLoggedIn && showCustomer ">CUSTOMER</a>
          </mat-nav-list>

          <mat-nav-list *ngIf="!isLoggedIn ">
            <a mat-button routerLink="/register">Register</a>
            <a mat-button routerLink="/login">Login</a>
        </mat-nav-list>
        
        <mat-nav-list *ngIf="isLoggedIn">
            Hi, {{username}}
            <a mat-button (click)="logout()">Logout</a>
        </mat-nav-list>
            <li class="menu-icon">
                <a href="#">SHOP</a>
            </li>
            <li class="menu-icon">
              
                <a class="menu-icon" routerLink="cart">CART</a>
              
            </li>
        </ul>
      </div>
    </section>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="main-container">
  <mat-sidenav-content >
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
